# project
config.json
logs/
guilds/
src/test/

# music
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg

# gradle
build/
.gradle/

# eclipse
.classpath
.project
.settings/
bin/

# intellij
.idea/
*.iml
*.iws
*.ipr
