<?xml version="1.0" encoding="UTF-8"?>

<!-- This file is not essential but helps to get you used to logback -->
<!-- Put this file under src/main/resources folder -->

<configuration debug="false" scan="true">
    <property name="LOG_PATH" value="."/>
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/logs"/>

    <logger name="JDA" level="INFO"/>
    <logger name="TOHSAKA" level="TRACE"/>
    <logger name="YUKKI" level="TRACE"/>


    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%-1level] [%logger{0}]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/bot.log</file>
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%-1level] [%logger{0}]: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/bot.%d{MM-dd-yyyy}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

     <!--<root level="debug">-->
     <root level="INFO">
         <appender-ref ref="Console"/>
         <appender-ref ref="File"/>
    </root>
</configuration>